
{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('color_index') }}">color</a>
    <a href="{{ path('brand_index') }}">brand</a>
    <a href="{{ path('category_index') }}">category</a>
    <a href="{{ path('size_index') }}">size</a>
    <a href="{{ path('product_index') }}">product</a>
    <a href="{{ path('stock_index') }}">stock</a>
{% endblock %}
